@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Space+Mono&display=swap");

@font-face {
  font-family: Aestetico;
  src: url("../public/fonts/Aestetico-Regular/font.woff2") format("woff2"),
    url("../public/fonts/Aestetico-Regular/font.woff") format("woff");
  font-weight: 400;
}

@font-face {
  font-family: Aestetico;
  src: url("../public/fonts/Aestetico-Bold/font.woff2") format("woff2"),
    url("../public/fonts/Aestetico-Bold/font.woff") format("woff");
  font-weight: 700;
}

th {
  @apply text-left;
}

td {
  @apply align-top;
}

input,
button,
select,
textarea {
  @apply focus:outline-none;
}

.btn-default {
  @apply rounded bg-gray-100 dark:bg-gray-800 cursor-pointer hover:bg-gray-200 dark:hover:bg-gray-700 transition-colors;
}

.link-overflow {
  @apply hover:underline text-blue-600 overflow-hidden overflow-ellipsis;
}

.divide-default {
  @apply divide-gray-300 dark:divide-gray-700;
}

.bg-heading {
  @apply bg-gray-100 dark:bg-gray-800;
}

.oneline {
  @apply whitespace-nowrap overflow-hidden;
}

.label-tag {
  @apply rounded text-xs py-1 px-2 dark:text-black;
}

.bg-green-label {
  @apply bg-green-200 dark:bg-green-400;
}
