@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Space+Mono&display=swap");

@font-face {
  font-family: Aestetico;
  src: url("../public/fonts/Aestetico-Regular/font.woff2") format("woff2"),
    url("../public/fonts/Aestetico-Regular/font.woff") format("woff");
  font-weight: 400;
}

@font-face {
  font-family: Aestetico;
  src: url("../public/fonts/Aestetico-Bold/font.woff2") format("woff2"),
    url("../public/fonts/Aestetico-Bold/font.woff") format("woff");
  font-weight: 700;
}

th {
  @apply text-left;
}

td {
  @apply align-top;
}

input,
button,
select,
textarea {
  @apply focus:outline-none;
}

.btn-base {
  @apply rounded cursor-pointer transition-colors;
}
.btn-default {
  @apply btn-base bg-gray-100 dark:bg-gray-800 disabled:bg-gray-100 dark:disabled:bg-gray-800 hover:bg-gray-200 dark:hover:bg-gray-700 disabled:cursor-not-allowed;
}
.btn-default-2 {
  @apply btn-base bg-gray-200 dark:bg-gray-700 disabled:bg-gray-200 dark:disabled:bg-gray-700 hover:bg-gray-300 dark:hover:bg-gray-600 disabled:cursor-not-allowed;
}

.link-default {
  @apply hover:underline text-blue-600;
}
.link-overflow {
  @apply link-default overflow-hidden overflow-ellipsis;
}

.divide-default {
  @apply divide-gray-300 dark:divide-gray-700;
}

.bg-heading {
  @apply bg-gray-100 dark:bg-gray-800;
}

.oneline {
  @apply whitespace-nowrap overflow-hidden;
}

.label-tag {
  @apply rounded text-xs py-1 px-2 dark:text-black;
}

.bg-green-label {
  @apply bg-green-200 dark:bg-green-400;
}

.dark .rmsc {
  --rmsc-bg: theme("colors.gray.800");
  --rmsc-hover: theme("colors.gray.700");
  --rmsc-border: theme("colors.gray.700");
  --rmsc-selected: theme("colors.gray.700");
}

/* ContentLoader animations, should probably be more specific */
.dark svg > defs > linearGradient > stop:nth-of-type(2n) {
  stop-color: theme("colors.gray.800");
}

.dark svg > defs > linearGradient > stop:nth-of-type(2n + 1) {
  stop-color: theme("colors.gray.700");
}
